<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://res.cloudinary.com/dmnmjsr9b/raw/upload/v1626587634/framework/framework.css'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Band Together</title>
</head>

<body>
    {% block content %}
    <p>page content goes here</p>
    {% endblock %}
    <script src='https://res.cloudinary.com/dmnmjsr9b/raw/upload/v1626587688/framework/script.js'></script>
</body>

</html>